@import url('https://fonts.googleapis.com/css2?family=Damion&family=Roboto&family=Romanesco&display=swap');


/*-----------------------------------------------------------------------Colours*/
header, footer{
    background-image: linear-gradient(white, #AD86BC);
}

.jobtitle h2{
    color: white;
}

.download a{
    color: black;
}

.keyskills h2{
    color: #AD86BC;
}
/*------------------------------------------------------------------------Job Title*/
h1{
    font-family: "Romanesco", sans-serif;
    margin-left: 10px;
    font-size: 90px;
}

.jobtitle{
    background-image: url("../images/home-office.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    width: 100vw;
}

.jobtitle h2{
    text-align: center;
    font-size: 75px;
    font-family: "Romanesco", sans-serif;
}



/*------------------------------------------------------------------------------About Me*/
#aboutMe{
    min-height: 750px;
}

.aboutme{
    margin-top: 20px;
    margin-bottom: 20px;
}
.aboutme h2{
    position: center;
    text-decoration: underline;
    font-family:"Romanesco", sans-serif;
    font-size: 100px;
}

.picture img{
    width: 550px;
    height: 750px;
    border-radius: 50%;
    border: 5px solid black;
    float: left;
}

.qualifications{
    border: 1px solid black;
    width: 500px;
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 5px; 
    padding-right: 20px;
    position: relative;
}

.qualifications h3{
    text-align: center;
    font-size: 70px;
    text-decoration: underline;
    font-family: "Romanesco", sans-serif;
}

.qualifications li{
    font-size: 25px;
}

/*---------------------------------------------------------------------------Key Skills*/
#keyskills{
    min-height: 500px;
}

#keyskills h2{
    text-decoration: underline;
    font-family: "Romanesco", sans-serif;
    font-size: 70px;
}

.html img, .css img, .javascript img, .seo img, .analytics img, .social-media img{
    width: 200px;
    height: 150px;
    margin-top: 10px;
    padding: 10px;
    position: relative;
}
/*------------------------------------------------------------------------------Footer*/
.linkedIn{
    height: 75px;
}

.linkedIn img{
    width: 250px;
    height: 45px;
    margin-top: 25px;
    border: 2px solid black;
}

.download{
    margin-top: 20px;
    font-size: 35px;
}

/*----------------------------------------------------------------Media Screen*/
@media screen{

}